kotlin/.gradle
kotlin/build/
kotlin/!gradle/wrapper/gradle-wrapper.jar
kotlin/!**/src/main/**/build/
kotlin/!**/src/test/**/build/
kotlin/.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/

### Python ###
python/**/__pycache__/
python/**/*.py[cod]
python/**/*$py.class
python/.venv/
python/venv/
python/ENV/
python/.pytest_cache/
python/.coverage
python/htmlcov/
python/.mypy_cache/
python/.pyenv/
python/.tox/
python/**/*.egg-info/
python/.eggs/
python/build/
python/dist/
python/.python-version